html {
    background: url(/images/nurple-static-bright.gif);
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.header {
    height: auto;
    width: 400px;
    margin: auto;
    text-align: center;
    text-shadow: 1px 1px 3px whitesmoke;
    font-size: large;
}

.peggy {
    height: 250px;
    width: auto;
}

#header2 {
    text-align: center;
    text-shadow: 1px 1px 3px whitesmoke;
    margin: auto;
    width: 150px;
    height: auto;
    font-size: large;
}

.intro {
    width: 700px;
    height: auto;
    margin: auto;
    text-align: center;
}

.projects {
    width: 800px;
    height: auto;
    margin: auto;
    text-align: center;
}

.projects img {
    width: 200px;
    height: auto;
    margin: auto;
}

a {
    color: crimson;
}

.footer b {
    text-shadow: 1px 1px 3px whitesmoke;
    font-size: large;
}

.footer {
    text-align: center;
    margin: 25px auto;
    height: auto;
    width: 400px;
}

.projects img:hover {
    border-color: whitesmoke;
    box-shadow: 0 0 8px whitesmoke;
}

.header__amhac {
    color: pink;
    text-shadow: 1px 1px 3px pink;
}

#header__project img {
    width: 300px;
    height: auto;
}

#header__project {
    height: auto;
    width: 400px;
    margin: auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#tracklist {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0.5px 0.5px 2.5px whitesmoke;
    width: 400px;
    height: auto;
    margin: auto;
}

#box {
    width: 800px;
    height: auto;
    margin: auto;
    display: flex;
}

#background {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0.5px 0.5px 2.5px whitesmoke;
    width: 400px;
    height: auto;
    margin: auto;
    text-align: center;
}


.timeline {
    width: 600px;
    text-shadow: 0.5px 0.5px 2.5px whitesmoke;
    font-size: large;
    height: auto;
    margin: auto;
    text-align: start;
}

.notes {
    width: 600px;
    text-shadow: 0.5px 0.5px 2.5px whitesmoke;
    font-size: large;
    height: auto;
    margin: auto;
    text-align: start;
}

.notes ul {
    text-shadow: none;
}

.polaroid {
    height: 300px;
    width: auto;
}